

.social-media-ico  {
margin-right: 10px;
margin-bottom: 10px;
  position: relative;

}
/* slider*/


.clearfix, .row:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}

.row {
  max-width: 680px;
  margin: 0 auto;
}
.row .row {
  margin-left: -30px;
  margin-right: -30px;
}
.row .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 400px) {
  .hide-lrg {
    display: none;
  }

  .lrg-1 {
    width: 8.33333%;
    float: left;
  }

  .lrg-2 {
    width: 16.66667%;
    float: left;
  }

  .lrg-3 {
    width: 25%;
    float: left;
  }

  .lrg-4 {
    width: 33.33333%;
    float: left;
  }

  .lrg-5 {
    width: 41.66667%;
    float: left;
  }

  .lrg-6 {
    width: 50%;
    float: left;
  }

  .lrg-7 {
    width: 58.33333%;
    float: left;
  }

  .lrg-8 {
    width: 66.66667%;
    float: left;
  }

  .lrg-9 {
    width: 75%;
    float: left;
  }

  .lrg-10 {
    width: 83.33333%;
    float: left;
  }

  .lrg-11 {
    width: 91.66667%;
    float: left;
  }

  .lrg-12 {
    width: 100%;
    float: left;
  }
}
.slider-wrap .slider {
  height: 250px;
  position: relative;
}
.slider-wrap .outer {
  position: relative;
}
.slider-wrap .outer, .slider-wrap .tray, .slider-wrap section {
  height: 100%;
}
.slider-wrap .tray, .slider-wrap section {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-wrap section {
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.slider-wrap section img {
  width: 100%;
  max-width: 100%;
}
.slider-wrap .arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
  z-index: 15;
  background-color: black;
}
.slider-wrap .arrow.left {
  right: -30px;
  background-image: url(https://www.garethweaver.com/codepen/images/bbc-left.png);
}
.slider-wrap .arrow.left span {
  left: 60px;
  padding: 0 20px 0 0;
}
.slider-wrap .arrow.right {
  left: -30px;
  background-image: url(https://www.garethweaver.com/codepen/images/bbc-right.png);
}
.slider-wrap .arrow.right span {
  right: 60px;
  padding: 0 0 0 20px;
}
.slider-wrap .arrow span {
  height: 60px;
  line-height: 60px;
  background: #0380a5;
  position: absolute;
  display: none;
  color: #fff;
}
.slider-wrap .arrow:hover {
  background-color: #0380a5;
}
.slider-wrap .arrow:hover span {
  display: block;
}
.slider-wrap .mask {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  cursor: pointer;
}
.slider-wrap .mask.left {
  right: 100%;
}
.slider-wrap .mask.right {
  left: 100%;
}
.slider-wrap .slider-nav {
  position: relative;
  font-size: 14px;
  text-align: center;
  margin: 15px 0 0;
  overflow: hidden;
}
.slider-wrap .slider-nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}
.slider-wrap .slider-nav li {
  float: left;
  width: 25%;
  box-sizing: border-box;
}
.slider-wrap .slider-nav li.current a {
  color: #0380a5;
}
.slider-wrap .slider-nav li a {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  height: 60px;
  line-height: 60px;
  border-top: 4px solid #dfdfde;
  display: block;
  font-weight: bold;
  margin: 0 4px;
}
.slider-wrap .slider-nav li a:hover {
  color: #0380a5;
}
.slider-wrap .slider-nav .highlight {
  position: absolute;
  margin: 0 4px;
  top: 0;
  left: 0;
  width: 24%;
  box-sizing: border-box;
  border-top: 4px solid #0380a5;
}
/*grid*/

*----------- FEATURE SECTION -------*/

.section-features {
  text-align: center;
}

#features h2 {
  font-size: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #3273dc;
  text-transform: uppercase;
  text-align: center;
  font-family: oynterosdisplaybold, serif;
  font-style: normal;
  font-weight: 400;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #fad7d3;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-family: poynterosdisplay_semiboldRg;
}

.icon-p {
  margin-top: 30px;
  font-size: 250%;
  color: #ed7669;
}

body {
  background-color: white;

}

.entry-meta, .entry-date, .categories #thumbbb a{
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 11px;
  line-height: 1;
  color: #000;
  padding-bottom: 5px;
}

p { text-align: justify;
    text-justify: inter-word;

}

.col-md-4, .col-sm-4{
padding-bottom: 30px;
padding-right: 30px;

}

.more {
  text-align: center;
}

.more a {
    margin-top: 20px;
    text-align: center;
    background: #000;
    border: 1px solid #000;
    display: inline-block;
    font: 11px/34px 'proxima_novasemibold';
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 40px;

}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;

  }
.read-more a{
  margin-top: 20px;
  text-align: center;
  border: 0px;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-family: rajdhani, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  padding-left: 60px;

}



.about {
  font-size: 30px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #3273dc;
  text-transform: uppercase;
  text-align: center;
  font-family: oynterosdisplaybold, serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 50px;
  padding-top: 50px;
}

#ending-page {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
}


/*search*/
.search
{
text-align: center;
  border: 2px solid #000;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  width: 70%;
}

.search input[type="text"]
{
text-align: center;
  border: 0px;
	padding: 10px;
}

.search input[type="text"]:focus
{
text-align: center;
  outline: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 20px;
}

.search input[type="submit"]
{
text-align: center;
  border: 0px;
	background: none;
	background-color: #000;
	color: #fff;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
        cursor:pointer;
}



/* ===========================
   ====== Medua Query for Search Box ======
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	{}
	.search
	{
		width: 80%;
		margin: 0 auto;
    text-align: center;
	}

}

.search-form {
  padding-right: 10px;
  width:100%;
}
